// стили сетки календаря и заголовка календаря с днями недели
.calendar {
  &__header {
    display: flex;
    height: 84px;
    align-items: center;
  }
  &__week-container {
    overflow: auto;
    height: 90vh;
    display: flex;
  }
  &__gmt {
    width: 70px;
    font-size: 10px;
    text-align: right;
    padding-right: 11px;
    align-self: end;
  }
  &__day-start {
    width: 180px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__day-name {
    font-size: 11px;
    text-transform: uppercase;
  }
  &__date {
    // background-color: #1a73e8;
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    border-radius: 100%;
    margin-top: 5px;
  }
  &__week {
    display: flex;
  }
  &__day:last-child {
    border-right: 1px solid $grey;
  }
  &__time-slot {
    width: 180px;
    height: 60px;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }
}
