// стили сетки календаря и заголовка календаря с днями недели
.calendar {
  &__header {
    height: 84px;
    display: flex;
    align-items: center;
  }
  &__week-container {
    height: 90vh;
    max-height: 1440px;
    display: flex;
    overflow: auto;
  }
  &__gmt {
    padding-right: 11px;
    width: 70px;
    align-self: end;
    font-size: 10px;
    text-align: right;
  }
  &__day-start {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__day-name {
    font-size: 11px;
    text-transform: uppercase;
    &_current {
      font-weight: 900;
      color: $blue;
    }
  }
  &__date {
    margin-top: 5px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    line-height: 45px;
    vertical-align: middle;
    border-radius: 100%;
    &_current {
      background-color: $blue;
      color: $white;
    }
  }
  &__week {
    display: flex;
  }
  &__day:last-child {
    border-right: 1px solid $grey;
  }
  &__time-slot {
    width: 180px;
    height: 60px;
    position: relative;
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }
}
