// стили отображаемого в календаре события
.event {
  padding: 9px;
  width: 160px;
  position: absolute;
  z-index: 8;
  font-size: 15px;
  color: #727e90;
  border-radius: 7px;
  background-color: #c6dafc;
  &__title {
    font-weight: 700;
  }
  &__time {
    padding: 8px 0;
  }
}
